:root {
    /*Colores*/
    --verde: #279ea0;
    --cereza: #ec4555;
    --verdeoscuro: #2a4a54;
    --vinotinto: #632329;
    --blancofrio: #f6f5f4;
    --casinegro: #1d1b1d;
    --primary-font: "Lalezar", system-ui;
    --secondary-font: "Yusei Magic", system-ui;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    background: linear-gradient(45deg, #279ea077, #ec455577);
    transition: .2s ease;
}

#main__container {
    transition: .2s ease;
    flex-direction: row-reverse;
}

main {
    width: 100%;
    height: 90%;
}

/* SECTION IMG */
#section-img {
    display: flex;
    height: 100vh;
}

#container-img {
    box-shadow: 0 0 20px 0 var(--casinegro);
    position: relative;
    overflow: hidden;
    height: 90%;
    width: 100%;
    border-radius: 20px;
}

.img-title {
    position: absolute;
    display: flex;
    text-align: end;

    bottom: -65px;
    right: 5px;
    font-size: 13rem;

    font-family: var(--primary-font);
    color: var(--verde);
    text-shadow: 0 0 10px var(--verdeoscuro);
}

#container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#img-cat {
    display: none;
}

/* SECTION FORM */
#section-form{
    padding: 30px 0;
}

#form__container-logo {
    width: 90%;
}

form {
    font-family: var(--secondary-font);
}

.form__logo {
    width: 50%;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 10px;

    border: 2px solid var(--casinegro);
    background-color: var(--blancofrio);
}

/* BTNS CHANGE OPTION */
.tab-container{
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 10px;

    background-color: var(--verde);
    border-radius: 30px;
}

.indicator {
    content: "";
    width: 145px;
    height: 40px;
    background: var(--verdeoscuro);
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 9;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    transition: all 0.2s ease-out;
}

.tab{
    width: 130px;
    height: 28px;
    position: absolute;
    z-index: 99;
    outline: none;
    opacity: 0;
}

.tab_label{
    width: 130px;
    height: 28px;
    color: var(--blancofrio);

    position: relative;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    font-size: 2rem;

    cursor: pointer;
}

.tab--1:checked~.indicator {
    left: 2px;
}

.tab--2:checked~.indicator {
    left: calc(130px + 2px);
}


/* FORM */
.form__container-input-icon{
    width: 100%;
}

#form__password-confirm,
#form__password{
    border-radius: 10px 0 0 10px;
    border: 2px solid black;
    border-right: 0;
}

.form__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;

    border: 2px solid var(--casinegro);
    background-color: var(--blancofrio);
    color: var(--cereza);
    border-radius: 0 10px 10px 0;
    
    font-size: 2rem;
    cursor: pointer;
}

#form__container-btn-register {
    width: 100%;
}


#register__btn-submit {
    justify-content: start;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: var(--verde);
    border: 2px solid var(--verde);
    color: var(--blancofrio);
    transition: .2s ease;
}

#register__btn-submit:hover {
    background-color: var(--verdeoscuro);
    border: 2px solid var(--verdeoscuro);
}

@media (max-width: 1023px) {
    #main__container{
        min-height: 100vh;
    }

    #section-img {
        display: none;
    }

    #section-form{
        width: 90%;
    }
}