:root {
    /*Colores*/
    --verde: #279ea0;
    --cereza: #ec4555;
    --verdeoscuro: #2a4a54;
    --vinotinto: #632329;
    --blancofrio: #f6f5f4;
    --casinegro: #1d1b1d;
    --primary-font: "Lalezar", system-ui;
    --secondary-font: "Yusei Magic", system-ui;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    background: linear-gradient(45deg, #279ea077, var(--blancofrio));
    transition: background .8s ease;

    height: 100vh;
}

/* BOTON IR ATRAS */
#btn-go-back{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 40px;
    left: 40px;
    width: 50px;
    height: 50px;
    font-size: 4.5rem;
    border: 2px solid var(--verdeoscuro);
    color: var(--verdeoscuro);
    border-radius: 50%;

    cursor: pointer;
    overflow: hidden;
    transition: .2s ease-in-out;
}

#btn-go-back:hover{
    background-color: #2a4a5422;
}

/* MAIN */
#main {
    width: 100%;
    height: 100vh;
}

#container-recover{
    width: 80%;
}

#main__title,
#message__title{
    font-family: var(--primary-font);
    font-size: 5rem;
    font-weight: 600;
    color: var(--verdeoscuro);
    text-align: center;
}

#main__paragraph,
#message__paragraph{
    font-family: var(--secondary-font);
    font-size: 2rem;
    color: var(--casinegro);
    text-align: center;
    margin-top: 40px;
}

#form-recover{
    font-size: 3rem;
    font-family: var(--secondary-font);
    margin-top: 40px;
}

#form__email-label{
    color: var(--verdeoscuro);
    margin-bottom: 10px;
}

#email{
    width: 60%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

    border: 2px solid var(--casinegro);
    background-color: var(--blancofrio);
}

#form__btn-submit,
#message__btn-submit{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 2rem;
    color: var(--blancofrio);
    background-color: var(--verde);
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}

#container-btn-message{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message__btn-submit{
    width: 100px;
    height: 50px;
}

#form__btn-submit:hover,
#message__btn-submit:hover{
    background-color: var(--verdeoscuro);
    color: var(--blancofrio);
}

#container-message{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #1d1b1d33;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);
}

#box-message{
    position: relative;
    background-color: var(--blancofrio);
    width: 60%;
    padding: 40px;
    border-radius: 20px;
}

#message__img{
    position: absolute;
    top: -160px;
    right: -20px;
    width: 200px;
}

@media (max-width: 768px) {
    #email{
        width: 100%;
    }

    #message__img{
        top: -70px;
        right: 0px;
        width: 100px;
    }

    #message__title{
        font-size: 3rem;
    }

    #main__title{
        font-size: 4rem;
    }

    #form__email-label{
        font-size: 2.5rem;
    }
}




