:root {
  /*Colores*/
  --verde:#279ea0;
  --cereza:#ec4555;
  --verdeoscuro: #2a4a54;
  --vinotinto: #632329;
  --blancofrio:#f6f5f4;
  --casinegro:#1d1b1d;
  --primary-font: "Lalezar", system-ui;
  --secondary-font: "Yusei Magic", system-ui;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.header {
  /*position: fixed;*/
  /*top: 0;*/
  /*height: 100px;*/
}

.up-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-hamburguer {
  display: none;
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.vet-name {
  display: flex;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 35px;
  border: solid 1px var(--verde);
  border-radius: 8px;
}

.browser-bar {
  height: 25px;
  width: 200px;
  border: none;
}

#lupa {
  height: 15px;
  width: 15px;
}

.container-iconos {
  margin-right: 30px;
}

.icono-header {
  height: 25px;
  width: 25px;
}

h1 {
  margin-bottom: 0;
  padding: 23px 0;
  font-size: 30px;
  font-family: var(--primary-font);
  color: var(--casinegro);
  letter-spacing: 1px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding: 0 20px;
  background-color: var(--verde);
  color:var(--blancofrio);
}

.nav-bar p {
  display: inline-block;
  margin: 10px;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
}

.main {
  min-width: 300px;
  padding: 10%;
}

.container-welcome {
  display: flex;
  gap: 15px;
  background-color: var(--blancofrio);
  margin: 10%;
  padding: 20px;
  border-radius: 30px;
}

h2 {
  color: var(--cereza);
  font-family: var(--primary-font);
  font-size: 3.0em;
  text-align: center;
  line-height: 30px;
  text-wrap: balance;
  padding: 15px 0px;
}

.texto p {
  font-family: var(--secondary-font);
  font-size: 1.5em;
  text-align: justify;
}

.texto span {
  display: block;
  color: var(--cereza);
  font-family: var(--secondary-font);
  font-size: 1.5em;
  text-align: center;
  text-wrap: balance;
}

#img-gato {
  width: 45%;
  border-radius: 25px;
}

.container-products {
  margin: 10%;
  padding: 20px;
  border-radius: 30px;
}

.products {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  overflow-x:scroll;
  overscroll-behavior-x:contain;
  scroll-snap-type: x proximity;
  margin: 20px 0px;
}

.products::-webkit-scrollbar {
  background-color: none;
  height: 2px;
}

.container-products h2 {
  text-align: left;
}

.cart-plus {
  padding: 6px;
  background-color: var(--cereza);
  color: var(--blancofrio);
  font-family: var(--secondary-font);
  font-size: 0.8em;
  border-radius: 15px;
  border: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  padding: 10px;
  min-width: 150px;
  box-shadow: #e9e8e8 0.5em 0.5em 1.5em, #e9e8e8 -0.5em -0.5em 1.5em;
  border-radius: 30px;
}

.product-card img {
  width: 100%;
  height: auto;
}

h3 {
  font-family: var(--primary-font);
  font-size: 2.0em;
  letter-spacing: 1px;
  white-space: nowrap
}

.product-card p{
  color: #555555;
  font-family: var(--secondary-font);
  font-size: 1.2em;
}

#precio {
  color: var(--casinegro);
  font-size: 2.0em;
}

.product-card span{
  color: var(--cereza);
  font-family: var(--secondary-font);
  font-size: 0.7em;
}

#see-more {
  text-align: right;
  color: var(--cereza);
  font-family: var(--primary-font);
  font-size: 1.8em;
}

@media (max-width: 704px){ 
  .nav-bar {
    display: none;
  }

  .browser-bar {
    display: none;
  }

  .header {
    background-color: #279ea0;
  }

  .up-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menu-hamburguer {
    display: block;
  }

  .search {
    display: none;
  }

  #lupa {
    display: none;
  }

  #user {
    display: none;
  }

  #carrito {
    margin-right: 10px;
  }

  .container-welcome {
    display: flex;
    flex-direction: column-reverse;
  }

  #img-gato {
    width: 100%;
  }
}



