:root {
  /*Colores*/
  --verde:#279ea0;
  --cereza:#ec4555;
  --verdeoscuro: #2a4a54;
  --vinotinto: #632329;
  --blancofrio:#f6f5f4;
  --casinegro:#1d1b1d;
  --grisaceo: #696987;
  --primary-font: "Lalezar", system-ui;
  --secondary-font: "Yusei Magic", system-ui;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

main {
  position:relative
}

#boton-whatsApp {
  position: fixed;
  bottom: 300px;
  right: 0px;
  z-index: 1;
  cursor:pointer;
}

/*ESTILOS DEL HEADER*/

.header {
  position: sticky;
  top: 0;
  width: auto;
  min-width: 320px;                     /*nueva linea*/
  background-color: #ffffff;
  z-index: 1;                           /*nueva linea*/
}

.up-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-hamburguer {
  display: none;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  cursor: pointer;
}

.vet-name {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  margin: 20px;
}

h1 {
  font-size: 3.0rem;
  font-family: var(--primary-font);
  color: var(--casinegro);
  letter-spacing: 1px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 35px;
  border: solid 1px var(--verde);
  border-radius: 8px;
}

.browser-bar {
  height: 25px;
  width: 200px;
  border: none;
}

#lupa {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.container-iconos {
  margin-right: 30px;
  cursor: pointer;
}

.icono-header {
  height: 25px;
  width: 25px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding: 0 20px;
  background-color: var(--verde);
  color:var(--blancofrio);
}

.nav-bar a {
  display: inline-block;
  margin: 10px;
  color: var(--blancofrio);
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  text-decoration: none;
  cursor: pointer;
}

.nav-bar a:hover {
  color: var(--verdeoscuro);
}

/*Estilos del menu mobile*/

.mobile-menu {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--verde);
}

.mobile-menu a {
  padding: 10px;
  color: var(--blancofrio);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.mobile-menu a:hover {
  color: var(--verdeoscuro);
}

.inactive {    /*clase creada para desactivar o activar la vista del menu mobile al dar click*/
  display: none;
}

.animacion-menu {
  opacity: 1;
  transition: opacity 500ms ease-in;
  @starting-style {
    opacity: 0;
  }
}

/*ESTILOS DEL MAIN*/

.main {
  min-width: 300px;
  padding: 10%;
}

/*Estilos contenedor de presentación*/

.container-welcome {
  display: flex;
  gap: 5%;
  background-color: var(--blancofrio);
  margin: 10%;
  padding: 5%;
  border-radius: 30px;
}

h2 {
  color: var(--cereza);
  font-family: var(--primary-font);
  font-size: 3.0rem;
  text-align: center;
  line-height: 30px;
  text-wrap: balance;
  padding: 5% 0;
}

.texto p {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  text-align: justify;
}

.texto span {
  display: block;
  color: var(--cereza);
  font-family: var(--secondary-font);
  font-size: 2.0rem;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
}

#img-gato {
  width: 45%;
  border-radius: 25px;
  object-fit: cover;
}

/*Estilos contenedor de productos*/

.container-products {
  padding: 10%;
  background-color: #279ea028;
}

.container-products p {
  color: var(--grisaceo);
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  text-align: justify;
}

.products {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  overflow-x:scroll;
  overscroll-behavior-x:contain;
  scroll-snap-type: x proximity;
}

.products::-webkit-scrollbar {
  background-color: none;
  width: 5px;
  height: 8px;
}

.products::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.products::-webkit-scrollbar-thumb {
  background-color: var(--verde);
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--verdeoscuro);
  cursor: pointer;
}

.container-products h2 {
  text-align: left;
}

.cart-plus {
  margin: 10px 0px;
  padding: 6px;
  background-color: var(--cereza);
  color: var(--blancofrio);
  font-family: var(--secondary-font);
  font-size: 1.0rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  padding: 10px;
  position: relative;
  min-width: 170px;
  width: 220px;
  background-color: #ffffff;
  box-shadow: var(--verdeoscuro) 0.5em 0.5em 1.5em, #e9e8e8 -0.5em -0.5em 1.5em;
  border-radius: 30px;
  overflow: hidden;       /*para ocultar heart-detail fuera de la card*/
  /*scroll-snap-align: center;   para centar en una tarjeta el scroll*/
}

.heart-detail {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--cereza);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#heart {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 15px;
  cursor: pointer;
}

.product-card img {
  width: 100%;
  height: auto;
}

.precio-boton {
  display: flex;
  flex-direction: column;
  align-content: center;
}

h3 {
  font-family: var(--primary-font);
  font-size: 2.0rem;
  letter-spacing: 1px;
  white-space: nowrap;
}

.product-card p{
  color: var(--grisaceo);  /*#555555*/
  font-family: var(--secondary-font);
  font-size: 1.2rem;
}

#precio {
  color: var(--casinegro);
  font-size: 2.0rem;
  text-align: center;
}

.product-card span{
  color: var(--cereza);
  font-family: var(--secondary-font);
}

#see-more {
  margin-top: 15px;
  text-align: right;
  color: var(--cereza);
  font-family: var(--primary-font);
  font-size: 1.8rem;
  cursor: pointer;
}

/*Estilos contenedor de servicios*/       /*Todo nuevo*/

.container-services {
  padding: 10%;
  background-color: var(--blancofrio);
}

.container-services p {
  color: var(--grisaceo);
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  text-align: justify;
}

.servicios {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  overflow-x:scroll;
  overscroll-behavior-x:contain;
  scroll-snap-type: x proximity;
}

.servicios::-webkit-scrollbar {
  background-color: none;
  width: 5px;
  height: 8px;
}

.servicios::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.servicios::-webkit-scrollbar-thumb {
  background-color: #e9e8e8 ;
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
  cursor: pointer;
}

.container-services h2 {
  text-align: left;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  padding: 10px;
  position: relative;
  min-width: 240px;
  width: 300px;
  background-color: #ffffff;
  box-shadow: #a3a3a3 0.5em 0.5em 1.5em, #e9e8e8 -0.5em -0.5em 1.5em;
  border-radius: 30px;
  overflow: hidden;       /*para ocultar heart-detail fuera de la card*/
  /*scroll-snap-align: center;   para centar en una tarjeta el scroll*/
}

.servicios img {
  border-radius: 23px;
  width: 100%;
  height: auto;
}

.servicios p{
  color: var(--grisaceo);  /*#555555*/
  font-family: var(--secondary-font);
  font-size: 1.2rem;
}

.servicios span{
  color: var(--cereza);
  font-family: var(--secondary-font);
}

/*Estilos contenedor de testimonios*/

.container-testimonios {
  position: relative;
  padding: 10%;
  background-color: #ec455628;
}

.container-testimonios h2 {
  text-align: left;
}

.container-testimonios p {
  color: var(--grisaceo);
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  text-align: justify;
}

.testimonios {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  overflow-x:scroll;
  overscroll-behavior-x:contain;
  scroll-snap-type: x proximity;
  margin: 30px 0px 0px;
}

.testimonios::-webkit-scrollbar {
  background-color: none;
  height: 2px;
}

.testimonios-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 50px 25px 25px;
  padding: 65px 25px 25px;
  width: 300px;
  background-color: #ffffff;
  box-shadow: var(--vinotinto) 0.5em 0.5em 1.5em, #e9e8e8 -0.5em -0.5em 1.5em;
  border-radius: 30px;
  scroll-snap-align: center;  /* para centar en una tarjeta el scroll*/
}

.testimonios-card img {
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  margin-bottom: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--verde) 0.5em 0.5em 1.5em, var(var(--verde)) -0.5em -0.5em 1.5em;
}

.testimonios-card h3{
  color: var(--verde);
}

.testimonios-card p{
  font-size: 1.3rem;
}

#dog1 {
  position:absolute;
  width: 20%;
  height: 20%;
  bottom: -10%;
  right: 10%;
}

/*Estilos contenedor de mapa*/

.container-map {
  margin: 10%;
  
}

.container-map h2 {
  text-align: left;
}

.container-map iframe {
  margin-bottom: 15px;
  border-radius: 30px;
  width: 100%;
  box-shadow: #e9e8e8 0.5em 0.5em 1.5em, #e9e8e8 -0.5em -0.5em 1.5em;
}

.container-map p {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
}

#ciudad {
  font-family: var(--secondary-font);
  font-size: 1.3rem;
}

/*ESTILOS DEL FOOTER*/

footer {
  padding: 5% 10%;
  color: var(--blancofrio);
  background-color: var(--casinegro);
  font-family: var(--primary-font);
}

footer h4 {
  color: var(--blancofrio);
  font-size: 3.0rem;
  letter-spacing: 1px;
}

.container-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container-redes p{
  font-size: 2.2rem;
}

footer p {
  margin-top: 20px;
  text-align: center;
  font-size: 1.7rem;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes img {
  width: 50px;
  margin: 10px;
}

.redes img:hover {
  border-radius: 50%;
  box-shadow: var(--verde) 0.5em 0.5em 1.5em, var(--verde) -0.5em -0.5em 1.5em; ;
}

.container-redes .logo {
  margin-left: 0px;
}

/*Media queries*/

@media (max-width: 704px){
  
  /*ESTILOS DEL HEADER*/

  .nav-bar {
    display: none;
  }

  .browser-bar {
    display: none;
  }

  .header {
    background-color: #279ea0;
  }

  .up-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menu-hamburguer {
    display: block;
    margin-left: 10px;  /*nueva linea*/
  }

  .search {
    display: none;
  }

  #lupa {
    display: none;
  }

  .logo {              /*nuevo elemento para media query*/
    width: 50px;
    height: 50px;
    margin: 10px;      
  }                    

  .container-iconos {     /*nuevo elemento para media query*/
    margin-right: 0px;    
  }

  #user {
    display: none;
  }

  #carrito {
    margin: 0px 10px;   /*modificacion linea*/
  }

  /*ESTILOS DEL MAIN*/

  .container-welcome {
    display: flex;
    flex-direction: column-reverse;
  }

  #img-gato {
    width: 100%;
  }

  /*ESTILOS DEL FOOTER*/

  .container-redes {
    flex-direction: column;
    align-items: center;
  }
}

/*QUERY PARA OCULTAR EL MENU MOBILE EN TAMAÑOS DE PANTALLA GRANDES*/

@media (min-width: 704px){
  .mobile-menu {
    display: none;
  }
}



