:root{
  /*Colores*/
  --verde:#279ea0;
  --cereza:#ec4555;
  --verdeoscuro: #2a4a54;
  --vinotinto: #632329;
  --blancofrio:#f6f5f4;
  --casinegro:#1d1b1d;
  --primary-font: "Lalezar", system-ui;
  --secondary-font: "Yusei Magic", system-ui;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.header {
  height: 100px;
}

.vet-name{
  display: flex;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 20px;
}

h1 {
  margin-bottom: 0;
  padding: 23px 0;
  font-size: 30px;
  font-family: var(--primary-font);
  color: var(--casinegro);
  letter-spacing: 1px;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding: 0 20px;
  background-color: var(--verde);
  color:var(--blancofrio);
}

.nav-bar p{
  display: inline-block;
  margin: 10px;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
}



